<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Bootstrap css -->
        <!-- La fonction asset permet une redirection vers le dossier public -->
        <link rel="stylesheet" href="{{ asset('bootstrap-5.0.2-dist/css/bootstrap.min.css') }}">
        <!-- Fichier css personalisé -->
        <!-- La fonction asset permet une redirection vers le dossier public -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <main>
            <hearder>
                <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" title="Home" href="{{ '/' }}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" title="Comment aider" href="{{ '/aider' }}">Comment aider</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" title="Evenements" href="{{ '/events' }}">Evenements</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" title="News" href="{{ '/news' }}">News</a>
                                    </li>
                                    <li class="nav-item">

                                        {% if app.user %}
                                            <a class="nav-link" title="Logout" href="{{ path('app_logout') }}">Logout</a>
                                        {% endif %}
                                        {% if app.user==false %}
                                            <a class="nav-link" title="Connexion" href="{{ '/login' }}">Login</a>
                                        {% endif %}
                                    </li>
                                    {% if app.user %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Administration
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" title="Accueil user" href="{{ '/user' }}">1</a></li>
                                                <li><a class="dropdown-item" title="admin" href="{{ '/admin' }}">2</a></li>
                                                <li><a class="dropdown-item" title="superadmin" href="{{ '/superadmin' }}">3</a></li>
                                            </ul>
                                        </li>
                                    {% endif %}


                                </ul>
                                <form method="GET" action="/search" class="d-flex">
                                    <input name="word" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                    </div>
            </nav>

            <a class="nav-link" title="Home de Asso Animal" href="{{ '/' }}"><h1>Asso Animal</h1></a>
            </header>
                {% block body %}{% endblock %}
        </main>

        <footer class="py-3 my-4">
         <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a class="nav-link" title="Contact" href="{{ '/contact' }}">Contactez-nous</a></li>
            <li class="nav-item"><a class="nav-link" title="FAQ" href="{{ '/faq' }}">FAQs</a></li>
            <li class="nav-item"><a class="nav-link" title="About" href="{{ '/about' }}">About</a></li>
            <li class="nav-item"><a class="nav-link" title="Contact" href="{{ '/mentionslegales' }}">Mentions légales</a></li>
            <li class="nav-item"><a class="nav-link" title="Contact" href="{{ '/confidentialite' }}">Politique de confidentialité</a></li>
            <li class="nav-item"><a class="nav-link" title="Cookies" href="{{ '/cookies' }}">Cookies</a></li>
        </ul>
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="ms-3">
                <a title="Facebook" class="text-muted" href="#">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
            
            <li class="ms-3">
                <a title="Youtube" class="text-muted" href="#">
                    <i class="bi bi-youtube"></i>
                </a>
            </li>

            <li class="ms-3">
                <a title="Instagram" class="text-muted" href="#">
                    <i class="bi bi-instagram"></i>
                </a>
            </li>
        </ul>
        <p class="text-center text-muted">© 2024 Asso Animal</p>
  </footer>
        <script src="{{ asset('bootstrap-5.0.2-dist/js/bootstrap.bundle.js') }}"></script>
    </body>
</html>
