{% extends 'base.html.twig' %}

{% block title %}Hello InsertPhoneController!{% endblock %}

{% block body %}
<h1>Enregistrer un numero de téléphone</h1>

{{ form_start(form) }}
{{ form_row(form.center) }}
{{ form_row(form.phoneNumber) }}
{{ form_row(form.isMobile) }}
{{ form_row(form.fkType) }}

<button type="submit" class="btn btn-primary">Submit</button>

{{ form_end(form) }}
{% endblock %}