{% extends 'base.html.twig' %}

{% block title %}Page Contact{% endblock %}

{% block body %}
<section>
    {% for article in articleData %}
        <h2>{{ article.titleArticle }}</h2>
        <p>{{ article.textArticle }}</p>
    {% endfor %}

    <ul>
        {% for center in centerData %}
            <li>
                    <p>Nom de l'établissement : {{ center.nameCenter }}</p>
                    <p>Adresse : {{ center.numWay }} {{ center.typeWay }} {{ center.nameWay }} {{ center.zipCode }},
                        {{ center.city }}</p>
                    <p>Téléphones :</p>
                <!-- pour chaque telephones de la liste de telephones -->
                {% for phone in phonesForCenter %}

                        <!-- pour chaque type de telephone de la liste du type de telepone -->
                        {% for phoneType in phoneTypes %}
                                
                                <!-- si l'ide de la clé étrangere correpond à l'id du telephone-->
                                {% if phone.center.id == center.id and phoneType.id == phone.fkType.id %}
                            
                                    <h4>{{ phoneType.nameType }}</h4>
                    
                                       <p>{{ phone.phoneNumber }}</p>
                            
                                {% endif %}
                                
                        {% endfor %} 
            
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}