{% extends 'base.html.twig' %}

{% block title %}Page Contact{% endblock %}

{% block body %}

    {% for article in articleData %}
        <h2>{{ article.titleArticle }}</h2>
        <p>{{ article.textArticle }}</p>
    {% endfor %}

    <ul>
        {% for center in centerData %}
            <li>
                <ul>
                    <li>Nom : {{ center.nameCenter }}</li>
                    <li>Adresse : {{ center.numWay }} {{ center.typeWay }} {{ center.nameWay }} {{ center.zipCode }},
                        {{ center.city }}</li>
                </ul>
            </li>

            {% for phone in phonesForCenter %}
                {% if phone.center == center.id %}
                    <p>{{ phone.phoneNumber }}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>

{% endblock %}