{% extends 'base.html.twig' %}

{% block title %}Page Contact{% endblock %}

{% block body %}

<div class="example-wrapper">
{% for article in articlecontacts %}
    <h3>{{ article.titleArticle }}</h3>
    <p>{{ article.textArticle }}</p>
{% endfor %}
{% for center in centers %}
    <h4>{{ center.nameCenter }}</h4>
    <p>{{ center.numWay }} , {{ center.typeWay }}, {{ center.nameWay }}, {{ center.zipCode }}, {{ center.city }}</p>
{% endfor %}
</div>
{% endblock %}
