{% extends 'base.html.twig' %}

{% block title %}Hello GestionCommentController!{% endblock %}

{% block body %}
<section class="container-lg">
    <h2>Gestion des commentaires</h2>
        
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Date</th>
                    <th scope="col" class="text-center">Utilisateur</th>
                    <th scope="col" class="text-center">Texte</th>
                    <th scope="col" class="text-center" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for comment in comments %}
                    <td>{{ comment.dateComment|date("d/m/Y") }}</td>
                    <td>
                        {% for user in users %}
                            {% if comment.fkUser.id == user.id %}
                                {{ user.firstName }} {{ user.lastName }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-end">
                        {% if comment.active == 1 %}
                            <a href="{{ path('app_gestion_comment', {'active': comment.id }) }}" class="btn btn-dark">Ne pas valider</a>
                        {% else %}
                            <a href="{{ path('app_gestion_comment', {'active': comment.id }) }}" class="btn btn-primary">Valider</a>
                        {% endif %}
                    </td>
                    <td class="text-end">
                        <a data-article-id="{{ comment.id }}" data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-danger supp" href="{{ path('app_gestion_comment', {'supp': comment.id }) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
