{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<section class="container-lg">
    <h2>Bienvenue {{ app.user.firstName }} sur la page d'administration</h2>
    <h3>Modifier vos infos</h3>
    <div class="container-sm col-8">
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.firstName) }}
        <button type="submit" class="btn btn-orange">Submit</button>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}