{% extends 'base.html.twig' %}
{% block body %}
<section>
    {% for page in pageData %}
        <h2>{{ page.titlePage }}</h2>
    {% endfor %}
    
    {% for article in articleData %}
        <h3><a title="{{ article.titleArticle }}" href="{{ '/article?a=' }}{{ article.id }}">{{ article.titleArticle }}</a></h3>
        <p>{{ article.textArticle|raw }}</p>
    {% endfor %}
</section>
{% endblock %}