{% extends 'base.html.twig' %}
{% block title %}News{% endblock %}
{% block body %}
<section>
    {% for page in pageData %}
        <h2>{{ page.titlePage }}</h2>
    {% endfor %}
    
    {% for article in articleData %}
        <h3><a title="{{ article.titleArticle }}" href="{{ '/article?a=' }}{{ article.id }}">{{ article.titleArticle }}</a></h3>
        <p>Publié le {{ article.dateARticle|date("d/m/Y") }}</p>
        <p>{{ article.textArticle|striptags|slice(0, 500)}} etc..</p>
        {# Ajoute un lien pour lire la suite si nécessaire #}
        <p><a href="{{ path('app_article', {'a': article.id}) }}">Lire la suite</a></p>
    {% endfor %}
</section>
{% endblock %}