{% extends 'base.html.twig' %}

{% block title %}Hello InsertContactController!{% endblock %}

{% block body %}
<h1>Enregistrer l'adresse d'un centre</h1>

{{ form_start(form) }}

{{ form_row(form.nameCenter) }}
{{ form_row(form.numWay) }}
{{ form_row(form.typeWay) }}
{{ form_row(form.nameWay) }}
{{ form_row(form.zipCode) }}
{{ form_row(form.city) }}

<button type="submit" class="btn btn-primary">Submit</button>

{{ form_end(form) }}
{% endblock %}