{# templates/insert_article/index.html.twig #}

{% extends 'base.html.twig' %}

{# pour les form on utilise boostrap 5 #}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
<section class="container-lg">
    <h2>Écrire un article</h2>
    <div class="container-sm col-8">
        {{ form_start(form) }}

        {{ form_row(form.active) }}

        {{ form_row(form.fkCategorie) }}

        {{ form_row(form.dateArticle) }}
        {{ form_row(form.titleArticle) }}
        {{ form_row(form.textArticle) }}

        <button type="submit" class="btn btn-orange">Submit</button>

        {{ form_end(form) }}
    <div>
</section>
{% endblock %}
