{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<section>
    <h1>Gestion des articles</h1>

    <div class="card">
        <div class="card-body row">
            <div class="col-md-6 text-right">
                <a href="#" class="btn btn-primary">Créer un article</a>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <h3>Liste des articles des autres utilisateurs</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Date</th>
                    <th scope="col" class="text-center">Titre</th>
                    <th scope="col" class="text-center" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articleData %}
                    {% if article.fkUser.id != app.user.id %}
                    <tr>
                        <td>{{ article.dateARticle|date("d/m/Y") }}</td>
                        <td><a title="{{ article.titleArticle }}" href="{{ '/article?a=' }}{{ article.id }}">{{ article.titleArticle }}</a></td>
                        <td class="text-end">
                            <a href="#" class="btn btn-dark">Brouillon</a>
                        </td>
                        <td class="text-end">
                            <a href="#" class="btn btn-success">Modifier</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h3>Liste des ses propres articles</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Date</th>
                    <th scope="col" class="text-center">Titre</th>
                    <th scope="col" class="text-center" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articleData %}
                    <tr>
                        {% if article.fkUser.id == app.user.id %}
                            <td>{{ article.dateARticle|date("d/m/Y") }}</td>
                            <td><a title="{{ article.titleArticle }}" href="{{ '/article?a=' }}{{ article.id }}">{{ article.titleArticle }}</a></td>
                            <td class="text-end">
                                <a href="#" class="btn btn-dark">Brouillon</a>
                            </td>
                            <td class="text-end">
                                <a href="#" class="btn btn-success">Modifier</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</section>
{% endblock %}
