{% extends 'base.html.twig' %}

{% block title %}Home du site de Asso Animal{% endblock %}

{% block body %}

    <section>
    {% for page in pageData %}
        <h2>{{ page.titlePage }}</h2>
    {% endfor %}
    
    {% for article in articleData %}
        <h3>{{ article.titleArticle }}</h3>
        <p>{{ article.textArticle|raw }}</p>
        <a title="En savoir plus " href="{{ path('app_aider') }}">En savoir plus sur comment aider</a>
    {% endfor %}
    </section>
    <section>
    <section>
        <h3>Ils ont trouvé leur bonheur</h3>
        {% for avis in livreDOr %}

            <h4>{{ avis.titleArticle }}</h4>
            <p>{{ avis.textArticle|striptags}}</p>
            
        {% endfor %}
    </section>
    <h3>Les dernières news</h3>
    {% for news in lastNews %}

        <a title="{{ news.titleArticle }}" href="{{ path('app_article', {'a': news.id}) }}"><h3>{{ news.titleArticle }}</h3></a>
        <p>{{ news.textArticle|striptags|slice(0, 300)}} etc..</p>
        <p><a title="Lire la suite" href="{{ path('app_article', {'a': news.id}) }}">Lire la suite</a></p>
        
    {% endfor %}
    </section>

{% endblock %}