{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <section>
    {% for page in pageData %}
        <h2>{{ page.titlePage }}</h2>
    {% endfor %}
    
    {% for article in articleData %}
        <h3>{{ article.titleArticle }}</h3>
        <p>{{ article.textArticle|raw }}</p>
        <a title="En savoir plus " href="{{ '/aider' }}">En savoir plus sur comment aider</a>
    {% endfor %}
    </section>
    <section>
    {% for news in lastNews %}

        <a title="Lire la suite" href="{{ '/article?a=' }}{{ news.id }}"><h3>{{ news.titleArticle }}</h3></a>
        <p>{{ news.textArticle|striptags|slice(0, 300)}} etc..</p>
        {% if news.textArticle|length > 300 %}
            <p><a href="{{ path('app_article', {'a': news.id}) }}">Lire la suite</a></p>
        {% endif %}
        
    {% endfor %}

    <a title="En savoir plus" href="{{ '/news' }}">Toutes les news</a>
    </section>

{% endblock %}
