{% extends 'base.html.twig' %}
{% block title %}Article{% endblock %}
{% block body %}
<section>
    {% for article in articleData %}
        <h3>{{ article.titleArticle }}</h3>
        <p>Ecrit par
            {% for author in authors %}

                {% if article.fkUser.id == author.id %}

                    {{ author.firstName }}

                {% endif %}
                
            {% endfor %}
        le {{ article.dateARticle|date("d/m/Y") }}</p>
        <p>{{ article.textArticle|raw }}</p>

        <section>
            <!-- si je ne suis pas connecté on affiche une lien pour se connecter -->
            {% if app.user == null %}
                <a title="Connexion" href="{{ '/login?a=' }}{{ article.id }}"><h3>Laisser un commentaire</h3></a>
            {% else %}
            <!-- sinon on affiche le formulaire -->
            <h3>Laisser un commentaire</h3>

                {{ form_start(form) }}
                    {{ form_row(form.textComment) }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {{ form_end(form) }}
            {% endif %}

        </section>
        {% for comment in comments %}
            {% if comment.active == 1 and comment.fkArticle.id == article.id %}
                <div>
                    <p>Le {{ comment.dateComment|date("d/m/Y") }} 
                        {% for user in authors %}
                            {% if comment.fkUser.id == user.id %}
                                {{ user.firstName }} {{ user.lastName }}
                            {% endif %}
                        {% endfor %}
                     à dit :</p>
                    <p>{{ comment.textComment }}</p>
                </div>
            {% endif %}
        
        
        {% endfor %}
    <!--end if de si je suis connecté-->
    {% endfor %}
</section>
{% endblock %}
